* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}
/* #531919 */
::selection {background: #ccc;}
::-moz-selection {background: #ccc;}
::-webkit-selection {background: #ccc; color:#fff;}

img.logo {
    height: 1.5rem;
}

header {
    font-weight: bold;
    text-transform: uppercase;
}
header.close {
    opacity:0;
    transition:opacity 700ms;
}

footer {
    min-height: 150px;
}
body {
    background-color: #242424;
    color: white;
}

#welcome {
    background: white url(../img/welcome_background.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity 700ms, top 500ms;
}
.welcome__about {
    text-shadow: 3px 2px 2px #242424;
}
.welcome__about h1, .welcome__about h2 {
    color: white;
    position: relative;
    top: -100vh;
}
.welcome__about h1 {
    font-size: 10rem;
}
.welcome__about h2 {
    font-size: 3rem;
}